.slider{
    display: grid;
    padding: 3rem 0;
    grid-column: center-start / center-end;

    @media only screen and (max-width:600px){
    }

  &__content{
      justify-self: center;
  }
    &__title{
      text-align: center;
      padding: 2rem 0;
      font-size: 1.8rem;
      font-weight: bold;
  }
  &__text{
    font-size: 1.5rem;
    text-align: center;
    color:  #8e8e94e0;
    font-style: italic;
  }
  .carousel-item{
    text-align: center;
  }
  
  
  .icon {
      display: inline-block;
      width: 2.5em;
      height: 2.5em;
      stroke-width: 0;
      fill:#3A7DD5;
      justify-self: center;
  }

  ol.carousel-indicators {
        
    transform: translateY(5rem);
    
}

ol.carousel-indicators li,
ol.carousel-indicators li.active{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: gray;
}

}